body {
    background: red;
}

.navigation {
    width: 354px;
    height: 56px;
    background: white;
    left: 50%; 
    transform: translateX(-50%);

    position: sticky;
    bottom:calc(env(safe-area-inset-bottom) + 16px);
}